:root {
  // colors
  --clr-blue: #2563CE;
  --clr-blue-75: #6495ED;
  
  --clr-green: #7fffd4;
  --clr-green-light-1: #afeeee;
  
  --clr-orange: #ffa07a;
  --clr-orange-dark-1: #fb7845;
  
  --clr-red: #f08080;



  --clr-white: #fff;
  --clr-white-shade-1: #eeeeeed9;
  --clr-white-shade-2: #eee;
  
  --clr-black: #000;
  --clr-tint-1: #777;
  --clr-tint-2: #555;

  // fonts
  --font-primary: "Vollkorn", serif;
}